In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key
import matplotlib.pyplot as plt

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Svetlyy,RU,2021-04-23 16:19:24,54.6750,20.1347,44.01,56,20,17.90
1,1,Nioki,CD,2021-04-23 16:19:25,-2.7167,17.6833,83.53,68,97,2.68
2,2,Geraldton,AU,2021-04-23 16:18:49,-28.7667,114.6000,60.80,82,27,4.61
3,3,Rikitea,PF,2021-04-23 16:18:41,-23.1203,-134.9692,78.94,71,95,20.24
4,4,Butaritari,KI,2021-04-23 16:19:25,3.0707,172.7902,81.00,78,96,8.03

In [3]:
# # Store the CSV you saved created in part one into a DataFrame.
# city_data_df = pd.read_csv("weather_data/cities.csv")
# city_data_df.head()

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# # Heatmap of temperature
# # Get the latitude and longitude.
# locations = city_data_df[["Lat", "Lng"]]
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]

# # Assign the figure variable.
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# # Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# # Add the heatmap layer.
# fig.add_layer(heat_layer)
# # Call the figure to plot the data.
# fig

In [8]:
# # Heatmap of temperature
# # Get the latitude and longitude.
# locations = city_data_df[["Lat", "Lng"]]
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]

# # Assign the figure variable.
# # fig = gmaps.figure()
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# # Assign the heatmap variable.
# # heat_layer = gmaps.heatmap_layer(locations)
# # heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
#                                  dissipating=False, max_intensity=300, point_radius=4)
# # Add the heatmap layer.
# fig.add_layer(heat_layer)

# # Call the figure to plot the data.
# fig

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Nioki,CD,2021-04-23 16:19:25,-2.7167,17.6833,83.53,68,97,2.68
3,3,Rikitea,PF,2021-04-23 16:18:41,-23.1203,-134.9692,78.94,71,95,20.24
4,4,Butaritari,KI,2021-04-23 16:19:25,3.0707,172.7902,81.00,78,96,8.03
5,5,Guiratinga,BR,2021-04-23 16:19:25,-16.3494,-53.7583,86.36,31,39,5.50
9,9,Matara,LK,2021-04-23 16:19:27,5.9485,80.5353,79.59,84,12,8.16
10,10,Puerto Ayora,EC,2021-04-23 16:18:52,-0.7393,-90.3518,84.20,74,40,10.36
14,14,Turayf,SA,2021-04-23 16:19:28,31.6725,38.6637,84.20,23,75,9.22
16,16,Morrope,PE,2021-04-23 16:19:28,-6.5417,-80.0111,75.20,64,40,14.97
24,24,San Cristobal,VE,2021-04-23 16:19:31,7.7669,-72.2250,87.80,58,20,13.80
25,25,Waingapu,ID,2021-04-23 16:19:31,-9.6567,120.2641,76.10,82,5,4.63

In [12]:
preferred_cities_df.count()

City_ID       174
City          174
Country       173
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [13]:
preferred_cities_df.notnull().sum()

City_ID       174
City          174
Country       173
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1           Nioki      CD     83.53  -2.7167   17.6833
3         Rikitea      PF     78.94 -23.1203 -134.9692
4      Butaritari      KI     81.00   3.0707  172.7902
5      Guiratinga      BR     86.36 -16.3494  -53.7583
9          Matara      LK     79.59   5.9485   80.5353
10   Puerto Ayora      EC     84.20  -0.7393  -90.3518
14         Turayf      SA     84.20  31.6725   38.6637
16        Morrope      PE     75.20  -6.5417  -80.0111
24  San Cristobal      VE     87.80   7.7669  -72.2250
25       Waingapu      ID     76.10  -9.6567  120.2641

In [15]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters"

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # print(f'Index:{index}, Row:{row}')
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found... skipping., index:{index}")

Hotel not found... skipping., index:1
Hotel not found... skipping., index:85
Hotel not found... skipping., index:101
Hotel not found... skipping., index:179
Hotel not found... skipping., index:246
Hotel not found... skipping., index:248
Hotel not found... skipping., index:261
Hotel not found... skipping., index:310
Hotel not found... skipping., index:406
Hotel not found... skipping., index:493
Hotel not found... skipping., index:494
Hotel not found... skipping., index:515