## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 

# city_data_df = pd.read_csv( "C:\Users\Larry\Desktop\Class Folder\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv")
city_data_df = pd.read_csv("..\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Busselton,-33.6500,115.3333,71.6,48,31,5.35,AU,scattered clouds
1,1,Kruisfontein,-34.0033,24.7314,59.0,93,93,1.99,ZA,overcast clouds
2,2,Hermanus,-34.4187,19.2345,55.0,90,95,1.01,ZA,overcast clouds
3,3,Yagunovskiy,55.2828,85.9780,37.4,35,0,11.18,RU,clear sky
4,4,Brae,60.3964,-1.3530,44.6,87,90,2.30,GB,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
5,5,Kapaa,22.0752,-159.3190,78.80,65,40,16.11,US,light rain
6,6,Kununurra,-15.7667,128.7333,86.00,23,14,16.11,AU,few clouds
8,8,San Patricio,28.0170,-97.5169,78.80,89,40,17.27,US,scattered clouds
9,9,Bambous Virieux,-20.3428,57.7575,77.00,88,75,8.05,MU,light rain
12,12,Faanui,-16.4833,-151.7500,80.02,74,100,10.56,PF,light rain
14,14,Rikitea,-23.1203,-134.9692,79.03,72,100,16.31,PF,overcast clouds
15,15,Souillac,-20.5167,57.5167,77.00,88,75,8.05,MU,light rain
16,16,Fare,-16.7000,-151.0167,79.99,72,100,9.35,PF,light rain
20,20,Conde,-7.2597,-34.9075,77.00,88,40,3.44,BR,scattered clouds
21,21,Namatanai,-3.6667,152.4333,82.42,72,93,5.21,PG,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                199
City                   199
Lat                    199
Lng                    199
Max Temp               199
Humidity               199
Cloudiness             199
Wind Speed             199
Country                199
Current Description    199
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
5,5,Kapaa,22.0752,-159.3190,78.80,65,40,16.11,US,light rain
6,6,Kununurra,-15.7667,128.7333,86.00,23,14,16.11,AU,few clouds
8,8,San Patricio,28.0170,-97.5169,78.80,89,40,17.27,US,scattered clouds
9,9,Bambous Virieux,-20.3428,57.7575,77.00,88,75,8.05,MU,light rain
12,12,Faanui,-16.4833,-151.7500,80.02,74,100,10.56,PF,light rain
...,...,...,...,...,...,...,...,...,...,...
667,667,Progreso,21.2833,-89.6667,87.80,45,1,14.97,MX,clear sky
673,673,San Pedro,14.3500,121.0167,89.01,66,20,5.75,PH,few clouds
674,674,Le Port,-20.9373,55.2919,75.20,73,20,10.36,RE,few clouds
688,688,Manama,26.2154,50.5832,82.40,47,0,3.44,BH,clear sky
691,691,Pundaguitan,6.3711,126.1689,84.16,68,52,7.78,PH,broken clouds

In [7]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters"

In [8]:
clean_df = preferred_cities_df.dropna()

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Kapaa,US,78.80,light rain,22.0752,-159.3190,
6,Kununurra,AU,86.00,few clouds,-15.7667,128.7333,
8,San Patricio,US,78.80,scattered clouds,28.0170,-97.5169,
9,Bambous Virieux,MU,77.00,light rain,-20.3428,57.7575,
12,Faanui,PF,80.02,light rain,-16.4833,-151.7500,
14,Rikitea,PF,79.03,overcast clouds,-23.1203,-134.9692,
15,Souillac,MU,77.00,light rain,-20.5167,57.5167,
16,Fare,PF,79.99,light rain,-16.7000,-151.0167,
20,Conde,BR,77.00,scattered clouds,-7.2597,-34.9075,
21,Namatanai,PG,82.42,light rain,-3.6667,152.4333,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # print(f'Index:{index}, Row:{row}')
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print(f"Hotel not found... skipping., index:{index}")
        # print(f"Hotel not found... skipping.")

Hotel not found... skipping., index:55
Hotel not found... skipping., index:83
Hotel not found... skipping., index:185
Hotel not found... skipping., index:247
Hotel not found... skipping., index:269
Hotel not found... skipping., index:278
Hotel not found... skipping., index:291
Hotel not found... skipping., index:378
Hotel not found... skipping., index:416
Hotel not found... skipping., index:420
Hotel not found... skipping., index:500
Hotel not found... skipping., index:552
Hotel not found... skipping., index:604

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   199
Country                199
Max Temp               199
Current Description    199
Lat                    199
Lng                    199
Hotel Name             199
dtype: int64

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "..\Vacation_Search\WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} {Max Temp}°F </dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))